name: Auto Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy on Local Machine
        run: |
          cd /home/hong/accounting-project-new
          git pull origin main
          docker compose -f docker-compose.prod.yml down 
          docker compose -f docker-compose.prod.yml up -d --build
