name: Auto Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          timeout: 30s
          
          script: |
            cd /home/hong/accounting-project-new
            git pull origin main
            sudo docker compose -f docker-compose.prod.yml down
            sleep 10 
            sudo docker compose -f docker-compose.prod.yml up -d --build
